.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 18px;
  z-index: 10000;
  pointer-events: none;
}

.bottom-bar>* {
  pointer-events: auto;
}

@media (min-width: 769px) {
  .bottom-bar {
    justify-content: flex-end;
  }
}